/* color palette from <https://github.com/vuejs/theme> */
:root {
  --mc-color-def: #c6c7c9;
  --mc-color-dark: #464749;
  --mc-color-green: #398020;
  --mc-color-purple: #6e41dc;
  --mc-color-red: #bd3333;
  --mc-color-black: #1e1e1e;

  --main-width: min(120ch, 100% - 4rem);
}
