@font-face {
    font-family: 'McFont';
    src: url('./font/Minecraft.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'lifangti';
    src: url('./font/lifangti11.ttf');
    font-weight: normal;
    font-style: normal;
}